<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./partials/head.ejs'); -%>

		<title>Reportes</title>
	</head>
	<body>
		<%- include('./partials/navigation.ejs'); -%>
		<!--Validacion de registro-->
		<% if (regist) { %>
		<h1>Jefe</h1>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<table class="table table-dark">
						<thead>
							<tr>
								<th scope="col"># Responsable</th>
								<th scope="col">Servicio</th>
								<th scope="col">Calificación</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>

		<% } else { %>
		<h3>No estas registrado <a href="/">Registrate aqui</a></h3>
		<% } %>
	</body>
</html>
